<%= form_with(model: [@product, @comment], remote: true) do |form| %>
  <%= render 'comments/comment_error' %>
  <div>
    <p>
      <%= form.label :your_comment %><br>
      <%= form.text_area :your_comment, rows: 7, cols:30 %>
    </p>
    <p>
      <%= form.label :comment_by %><br>
      <%= form.text_field :comment_by, :value => current_user.email, :readonly => true %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  </div>  
<% end %>
  