<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES_KEY']%>&libraries=places&callback=activateSearch"></script>
<div class="col-xs-8 nested-fields" id="address_fields">
  <p class="field">
    <%= f.label :name %> <br/>
    <%= f.text_field :name, :required => true %>
  </p>
  
  <p class="field">
    <%= f.label :mobile %><br/>
    <%= f.number_field :mobile, :required => true  %>
  </p>    
  <p class="field">
    <%= f.label :address %><br/>
    <%= f.text_field :address, class: "address_field", id: "search_place" %>
  </p><br/>
  <p class="field">
    <%= f.label :city %><br/>
    <%= f.text_field :city, class: "address_field" %>
  </p><br/>
  <p class="field">
    <%= f.label :pincode %><br/>
    <%= f.number_field :pincode %>
  </p><br/>
  <p class="field">
    <%= f.label :state %><br/>
    <%= f.text_field :state, class: "address_field" %>
  </p><br/>
  <p class="field">
    <%= f.label :address_type %><br />
    <%= f.label :address_type, "Home", :value => "Home"  %>
    <%= f.radio_button :address_type, 'Home' %>
    <%= f.label :address_type, "Work", :value => "Work" %>
    <%= f.radio_button :address_type, 'Work' %>
  </p>
  <%= link_to_remove_association "remove address", f %>
</div>

