<div>
<<<<<<< HEAD
    <h3>Order Summary</h3>
=======
<h3>Order Summary</h3>
>>>>>>> 6a129e48d9c16b20090cf57adaf64f4f1389e488

<table class="table">
  <tr>
    <th>Prdouct</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>
 
  <% total = 0 %>
  <% @products.each do |product| %>
    <tr>
      <td><%= image_tag Product.find(product.product_id).pictures[0], width: '50px', height: '50px' %></td>
      <td><%= Product.find(product.product_id).name %></td>
      <td><%= Product.find(product.product_id).price %></td>
      <td><%= product.quantity %></td>
      <td><%= (Product.find(product.product_id).price.to_i) * (product.quantity.to_i) %></td>
      <% total += (Product.find(product.product_id).price.to_i) * (product.quantity.to_i) %>
    </tr>
  <% end %>
  <tr>
    <th>Grand Total</th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= total %></th>
  </tr>
</table>
<hr>
</div>