<!DOCTYPE html>
<html>
<head>
  <title></title>
    
</head>
<body>
  <center>
    <h1> User Details</h1>
  </center>
  <table class="table table-striped">

    <thead>
      <tr >
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Payment History</th>
        <th>Action</th>   
      </tr>
    </thead>

    <tbody class="user-listing">
      <% @users.each do |user| %>
        <tr class="user-tr-<%= user.id %>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile %></td>
        <% if user.stripe_customer_id? %>
          <td><%= link_to 'Payment History', payment_history_path(user.id) %></td> 
        <%else%>
          <td></td>
        <%end%>

        <td><%= link_to 'Destroy', user_path(user.id), method: :delete, remote: true, data: { confirm:'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>