<h1>Check out</h1>

<%= form_with model: [@user], url: user_addresses_path, local: true, method: :post do |form| %>
<div>
  <h3 class="text-success"><%= @user.first_name%> signed in.</h3>
  <div class="mt-4">
    <%= form.fields_for :addresses do |address| %>
      <%= render 'address_fields', :f => address %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add address', form, :addresses, style: "font-size:15px", class: "btn btn-primary" %>
    </div>
  </div>

  <div>
    <h3>Order Summary</h3>

    <table class="table">
      <tr>
        <th>Prdouct</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
     
      <% @products.each do |product| %>
        <tr>
          <td><%= image_tag Product.find(product.product_id).pictures[0], width: '50px', height: '50px' %></td>
          <td><%= Product.find(product.product_id).name %></td>
          <td><%= Product.find(product.product_id).price %></td>
          <td><%= product.quantity %></td>
          <td><%= (Product.find(product.product_id).price.to_i) * (product.quantity.to_i)  %></td>
        </tr>
      <% end %>
    </table>
  </div>
    
    
    <p>
      <%= form.submit "Proceed to pay", class: "btn btn-primary" %>
    </p>  

</div>
<% end %>
    <p>
      <%= link_to "Pay Amount", new_charge_path, class: "btn btn-primary" %>
    </p>  