<% @product.each do |product| %>
  <div class="col-xs-4 col-xs-offset-0 col-lg-4 col-lg-offset-0">
    <div class="product_img img-responsive">
      <%= image_tag product.picture_url, width: '150px', height:'250px'%>
    </div>
    <div class="product_name">
      <h4><%= product.name %></h4>
    </div>    
    <div class="price_line">
      <h4 class="price"> ₹ <%=product.price%></h4>
    </div>
    <% if current_user.role != "Admin" %>
    <%= link_to 'Show More', product_path(product) %> | <%= link_to 'Add to Cart', add_to_cart_carts_path(product_id: product.id) %>
    <% end %>  
  </div>
<%end%>