<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style>
    th, td {border: 2px solid blue;text-align: center; 
              border-collapse: collapse;

    }
  </style>
</head>
<body>
  <center>
  <h1> Products </h1>
  </center>
  <center>
    <table style="padding: 1px; text-align: center; 
                width: 100%; border: 2px solid blue; 
                border-collapse: collapse;">

      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Picture</th>
          <th>Category</th>
          <th colspan="3">Edit Details</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= image_tag product.picture_url, width: '100%' if product.picture? %></td>
            <td><%= product.category && product.category.name %></td> 
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'show', product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm:'Are you sure?' } %></td>  
           
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @products %>
  </center>
</body>
</html>









