<div class="modal-dialog modal-xm" style="background-color: white;">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel" >Sign up</h3>
   </div>
  <div class="modal-body col-sm-12">
    <%= bootstrap_form_for(:user, as: :user, url: registration_path(:user),label_errors: true, inline_errors: true) do |f| %> 
      <%#= devise_error_messages! %> 
      <%= f.text_field :first_name %>   
      <%= f.text_field :last_name %>   
      <%= f.date_field :dob %> 
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.password_field :password, autocomplete: "new-password",help: "Must be at least 6 characters long" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
         <%= f.text_field :mobile %>
      <%= f.submit "Sign up", class: "btn btn-primary btn-xm" %>  <%= link_to "Back", "/users/sign_in",class: "btn btn-warning btn-xm" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
     

</div>