<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= content_for?(:title) ? yield(:title) : "One" %>
    </title>
    <script type="text/javascript">
      // var add_address_button = document.getElementById("add_address");
      // add_address_button.addEventListener("click", activateSearch);

      // var search = function(){
      // var input_field = document.getElementById("search_place");
      // input_field.addEventListener("focus", activateSearch);
      // }

      function activateSearch(){
        var input = document.getElementById("search_place");
        var autocomplete = new google.maps.places.Autocomplete(input);
      }
    </script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbrQjJqOS5glOpnQgk9GcR0ePvVHJes-8&libraries=places&callback=activateSearch"></script> -->
    <!-- <script src="jquery.geocomplete.js"></script> -->
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag "application", :media => "all",'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application",'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/" style="color: aqua;"><b>OneShop</b></a>
        <div>
          <%= form_tag(products_path, :method => "get", id: "search-form", class: "nav navbar-nav") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control", :style=> "margin-top: 7px; padding-right: 170px; margin-left: 50px;"%>
            <%= submit_tag "Search", :name => nil, :style => "display: none;"%>
          <% end %>
        </div>
        <% if !current_user %>
          <ul class="nav navbar-nav navbar-right">
            <ul class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button"data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
              <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><span ></span><%= link_to 'Login', new_user_session_path %> </li> 
                  <li><span ></span><%= link_to 'Sign up', new_user_registration_path %> </li>
                </ul>
            </ul>
          </ul>
        <% end %>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <ul class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button"data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Welcome! <%= current_user.first_name %>
              <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><span ></span><%= link_to 'My profile', user_path(current_user.id) %> </li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>  
                </ul>
            </ul>
          </ul>
        <% end %>
      </div>
    </div>       
    <div class="container"> 
      <div class="row">
        <% if user_signed_in? && (current_user.role == "Admin") %>
          <div class="mg-top products-by-category">
            <strong>Welcome Admin</strong>
            <%= render '/products/category' %>
          </div>
          <div class="col-lg-3">
            <div class="well sidebar-nav ">
              <ul class="nav nav-list">
                <li class="nav-header"></li>
                <li><%= link_to 'Home', products_url%></li>
                <li><%= link_to 'Add New Product', new_product_path %></li>
                <li><%= link_to 'List of Category', categories_path %></li>
              </ul>
            </div>
          </div>
        <% elsif user_signed_in? && current_user.role != "Admin"%>
          <div class="mg-top products-by-category">
            <%= render '/products/category' %>
          </div>
          <div class="col-lg-3">
            <div class="well sidebar-nav ">
              <ul class="nav nav-list">
                <li class="nav-header"></li>
                <% if current_user.cart %>
                  <li><%= link_to " My Cart", cart_path(current_user.cart)  %></li>
                <%end%>
                <li><%= link_to "All Product", products_userview_path  %></li>
                <li><%= link_to "Product Category", "#"  %></li>
                  <ul>
                    <% all_categories.each do |c| %>
                      <li><%= link_to  c.name, by_category_products_path(category_id: c.id), remote: true  %></li>
                    <%end%>
                  </ul>
                <li>
                  <%= link_to "How to Order", order_products_path, {:remote => true} %>
                </li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
        <% end -%>
    <% if current_user %>    
      <div class="col-lg-9 by-category">
        <%= bootstrap_flash %>    
        <%= yield %>
      </div>
    <%else%>
      <div class="col-lg-12 by-category">
        <%= bootstrap_flash %>    
        <%= yield %>
      </div>
    <% end %>
      
    </div><!--/row-->
      <center>
        <footer>  
          <div class="container">
            <p>&copy; OakTree 2018</p>
          </div>        
        </footer>
      </center>
    </div> <!-- /container -->
    <div id="modal-window" class="modal fade" role="dialog"></div>
  </body>
</html>